<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe App!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles.css">
  </head>
<body>
     <!-- Navbar -->
     <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/index.html">Recipe App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="/index.html">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/random-recipe.html">Random Recipe <span class="sr-only">(current)</span></a>
                  </li>
              </ul>
            </div>
        </div>
      </nav>  
       <!--End Nav  -->
      <div class="container">
        <div class="jumbotron mt-4">
          <h1 class="display-4">Random Recipe Generator </h1>
          <hr>
          <div class="d-flex">
            <div class="flex-grow-1">
              <p class="lead">Click the button to get a new recipe!</p>
            </div>
            <div class="p-2">
              <button class="btn btn-primary" id="generate-btn"> New Recipe</button>
            </div>
            <div class="p-2">
              <button class="btn btn-outline-success" id="save-btn">Add to my recipes</button>
            </div>
          </div>        
        </div>
        <!-- Start Recipe items -->
        <div id="title">        
        </div>       
          <div class="row">
            <div class="col-6">
              <div class="card" style="width: 30rem;">
                <div class="card-img justify-content-center" id="image">                 
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="card">
                <div class="card-body justify-content-center" id="summary">
                </div>
              </div>
            </div>
          </div>   
          <div class="row">
            <div class="col-8">
              <div class="card mt-3">
                <div class="card-header">
                  Instructions
                </div>
                <div class="card-body" id="instructions">
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="card mt-3">
                <div class="card-header">
                  Ingredients
                </div>
                <div class="card-body" id="ingredients">
                </div>
              </div>
            </div>
          </div>     
      </div>

      <script src="/scripts/uuidv4.js"></script>
      <script src="/scripts/requests.js"></script>
      <script src="/scripts/recipe-functions.js"></script>
      <script src="/scripts/random-functions.js"></script>


</body>
</html>